.photo-list__fav-icon {
  position: absolute; /* Absolute positioning for correct placement */
  top: 10px; /* Adjusted to position within the top corner */
  right: 10px; /* Adjusted for alignment */
  cursor: pointer;
  background-color: #EEEEEE;
  width: 32px;
  height: 32px;
  text-align: center;
  border-radius: 50%; /* Ensures circular shape */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10; /* Ensures it's on top of the image */
}

.photo-list__fav-icon-svg {
  width: 20px;
  height: 20px;
  fill: #C80000; /* Sets the heart color */
}