.photo-details-modal {
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 1000;  /* Ensures modal stays on top */
  top: 55%;
  left: 50%;
  transform: translate(-50%, -40%);
  height: 80%;
  width: 55%;
  overflow-y: scroll;
  border-radius: 12px;
}

.photo-details-modal__close-button {
  background-color: white;
  border: none;
  text-align: center;
  cursor: pointer;
  margin-left: 16px;
  margin-top: 16px;
}

.photo-details-modal__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-details-modal__fav-icon {
  position: absolute;
  top: 16px;
  right: 16px;
}

.photo-details-modal__image {
  max-width: 95%;
  border-radius: 8px;
  margin-bottom: 16px;
}

.photo-details-modal__info {
  display: flex;
  margin-top: 8px;
}

.photo-details-modal__user {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.photo-details-modal__user-profile {
  object-fit: cover;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

.photo-details-modal__similar-photos {
  margin-top: 24px;
}

.photo-details-modal__similar-photos-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.photo-details-modal__similar-photo-image {
  width: 100%;
  border-radius: 8px;
}