.photo-list__item {
  margin: 24px;
  padding: 8px;
  border-width: 0.5px;
  border-color: lightgray;
  border-style: solid;
  border-radius: 8px;
  max-width: fit-content;
}

.photo-list__image {  
  user-select: none;
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0px 0px;  /* Keeps the top corners rounded */
}

.photo-list__user-profile {
  object-fit: cover;
  border-radius: 50%; /* Ensures circular shape */
  vertical-align: middle;
  margin-right: 8px;
  width: 40px;
  height: 40px;
  overflow: hidden; /* Ensures no overflow issues with large images */
  background-color: #f0f0f0; /* Placeholder color in case the image doesn't load */
}

.photo-list__user-details {
  display: flex;
}

.photo-list__user-info {
  margin-top: 5px;
  font-weight: 700;
  font-size: 13px;      /* Increased font size slightly for better readability */
  margin-left: 10px;    /* Increased margin for spacing */
  overflow: hidden;     /* Ensures no overflow of text */
  text-overflow: ellipsis;  /* Adds '...' if text overflows */
  white-space: nowrap;  /* Keeps text in a single line */
}

.photo-list__user-location {
  color: #838383;
}